{
  "env": {
    "node": true,
    "es2021": true,
    "mocha": true
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ]
  }
}
